@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-primary: "Inter";
  --font-secondary: "Lexend";
  --color-action: #3F37C9;
  --color-hover:#4361EE;
  --color-active:#3A0CA3;
  --color-darkSecondary:#e5e5e5;
  --color-secondary:#404040


}

body.dark{
  background-color: #181818 !important;
  color: white;
}

h1 {
  @apply text-[2rem] md:text-[3rem] font-primary font-semibold tracking-tight leading-[40px] md:leading-[60px];
}
h2 {
  @apply text-[1.5rem] md:text-[2rem] font-primary font-normal tracking-normal;
}
h3 {
  @apply text-[1.1rem] md:text-[1.3rem] font-secondary font-light tracking-wider;
}
h4 {
  @apply text-[.9rem] font-secondary  tracking-wide;
}
p {
  @apply text-[1rem] font-secondary font-light tracking-wide;
}
span{
  @apply font-secondary 
}
label{
  @apply font-secondary font-light text-[1rem]
}

button{
  @apply font-secondary text-white cursor-pointer font-light bg-action hover:bg-hover active:bg-active 
}

@layer{
  .input-container{
    @apply flex flex-col justify-center items-start space-y-2 relative 
  }
  .input-base{
    @apply w-full font-secondary focus:outline-action border border-neutral-200  dark:border-neutral-700 pl-10 py-3 rounded-lg
  }
}